<!DOCTYPE html>
<html>
  <head>
    <title>WackyWidgets</title>
    <meta name="description" content="<%= "This is wack, yo!" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <a href="javascript:void(0);" class="sidenav-icon">
          <%= image_tag("HamburgerMenu.svg") %>
        </a>
        <%= link_to "Wacky Widgets", root_path, class: 'logo' %>
        <ul class="nav-links">
          <% if logged_in? %>
            <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li><%= link_to "Widgets", widgets_path %>
            <li><%= link_to "Log Out", session_path(current_user), method: :delete %></li>
          <% else %>
            <%= form_tag sessions_path do %>
              <li><%= text_field_tag :email, params[:email], placeholder: 'Email' %></li>
              <li><%= password_field_tag :password, params[:password], placeholder: 'Password' %></li>
              <li><%= submit_tag 'Log In'  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>

    <ul class="side-nav">
      <% if logged_in? %>
        <li><%= link_to "My Profile", user_path(current_user), class: 'nav-link' %></li>
        <li><%= link_to "Widgets", widgets_path %>
        <li><%= link_to "Log Out", session_path(current_user), method: :delete %></li>
      <% else %>
        <%= form_tag sessions_path do %>
          <li><%= text_field_tag :email, params[:email], placeholder: 'Email' %></li>
          <li><%= password_field_tag :password, params[:password], placeholder: 'Password' %></li>
          <li><%= submit_tag 'Log In' %></li>
        <% end %>
      <% end %>
    </ul>

    <div class="container main-content">
      <% flash.each do |type, message| %>
        <p class=<%= type %>><%= message %></p>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
